<div class="footer-nav-container">
    <div class="button-container">
        <img class="shuffle-icon" src="../../assets/icons/shuffle-icon.svg" alt="shuffle-icon">
        <p class="button-text">Shuffle</p>
    </div>
    <div class="button-container">
        <img class="shuffle-icon" src="../../assets/icons/timer-icon.svg" alt="timer-icon">
        <p class="button-text">Timer</p>
    </div>
    <div class="button-container">
        <img class="shuffle-icon" src="../../assets/icons/edit-icon.svg" alt="shuffle-icon">
        <p class="button-text">Edit</p>
    </div>
    <div class="button-container">
        <img class="shuffle-icon" src="../../assets/icons/settings-icon.svg" alt="shuffle-icon">
        <p class="button-text">Settings</p>
    </div>
</div>