.draggable-container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    background-color: transparent;
    min-height: 500px;
    margin: 0px auto 0 auto;
    padding: 5px;
}

.example-list {
    width: 500px;
    max-width: 100%;
    border: solid 3px #0f1b3d;
    min-height: 60px;
    display: block;
    background: #ffffff25;
    border-radius: 5px;
    overflow: hidden;
    padding: 20px 16px 20px 16px;
    margin-bottom: 100px;
}

.example-box {
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    height: 100px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 10% 45% 45%;
    grid-template-areas:
        "rep-banner rep-banner rep-banner"
        "random-button workout-header finish-button"
        "random-button workout-weight finish-button";
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
    margin-bottom: 20px;
    border-radius: 6px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
