.nav-container {
    position: fixed;
    height: 85px;
    width: 100vw;
    background-image: linear-gradient(to right, #111d43, #172556);
    display: flex;
    border-bottom: 2px solid #000000;
}

.nav-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 25vw;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-image: linear-gradient(#873cff, #873cff00 0%), linear-gradient(-33deg, #789bffe6 45%, #697ed4 0%);
    opacity: 0.9;
    transition: .5s;
}

.nav-icon:hover {
    opacity: 1.1;
    cursor: pointer;
}

.barbell-icon {
    height: 50%;
    width: 50%;
}
