.draggable-container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    background-color: transparent;
    min-height: 500px;
    margin: 50px auto 0 auto;
}

.rep-banner {
    grid-area: rep-banner;
    background-color: #9277ff;
    display: flex;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

.set-indicator {
    height: 4px;
    width: 4px;
    border-radius: 9999px;
    margin: 0 2px;
    background-color: white;
}

.random-button {
    grid-area: random-button;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 5px;
    background-color: aliceblue;
    height: 100%;
}

.random-button .dice-icon {
    height: 30px;
    width: 30px;
    margin: auto;
}

.workout-header {
    grid-area: workout-header;
    font-weight: 700;
    margin: auto;
    padding-top: 10px;
    text-align: center;
}

.workout-weight {
    grid-area: workout-weight;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.finish-button {
    grid-area: finish-button;
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 5px;
    background-color: #33d69f;
}

.finish-button .check-icon {
    height: 30px;
    width: 30px;
    margin: auto;
}

.subtract-icon,
.add-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    width: 22px;
    background-color: orange;
    border-radius: 999px;
    transition: 0.3s;
}

.subtract-icon:hover,
.add-icon:hover {
    opacity: 0.5;
    cursor: pointer;
}

.subtract-img {
    width: 10px;
    height: 2px;
}

.add-img {
    height: 10px;
    width: 10px;
}
